nav{
    background-color: #333;
   }
   li a:hover {
    background-color: #111;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    }
    .nav-link{
        color: white;
    }

    .log{
        background-color: rgb(20, 147, 220);
        border-radius: 5px;
        margin-right: 5px;
        color: white;
    }
    .cad{
        background-color: rgb(255, 94, 0);
        border-radius: 5px;
    }


   